<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="COFFEE_HOUSEEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QuangDuc\SQLSERVER;initial catalog=COFFEE_HOUSE;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="self_discipline.Properties.Settings.COFFEE_HOUSEConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=COFFEE_HOUSE;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="self_discipline.Properties.Settings.COFFEE_HOUSEConnectionString1"
      connectionString="Data Source=QuangDuc\SQLSERVER;Initial Catalog=COFFEE_HOUSE;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>